* {
    box-sizing: border-box;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
  .miniContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  body {
    font-family: sans-serif;
    margin: 3rem;
    background-color: #dfdfdf;
  }
  .section {
    margin-top:40px;
    margin-bottom:40px;
  }
 
  h1, h2 {
    color: #333333;
  }
  
  .btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
  }
  
  .btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }
  
  .btn--alt {
    background-color: transparent;
    color: #800040;
  }
  
  .btn--alt:hover {
    background-color: #f8dae9;
  }
  
  .card {
    margin-top:20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 20rem;
  }
  .addNewCard {
    border:2px solid red;
  }
  .isCompleted {
    background-color: green;
  }
  
  .actions {
    text-align: center;
  }
  .inputBar {
    margin-top:20px;

  }
  .word {
    text-align:center;
    width:100%;
    line-height: 60px;
    margin-top:0;
  }
  
  .modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }
  
  .backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .likeButton {
    margin-top:20px;
    --color: #1E2235;
    --color-hover: #1E2235;
    --color-active: #fff;
    --icon: #BBC1E1;
    --icon-hover: #8A91B4;
    --icon-active: #fff;
    --background: #fff;
    --background-hover: #fff;
    --background-active: #362A89;
    --border: #E1E6F9;
    --border-active: #362A89;
    --shadow: #{rgba(#001177, .025)};
    display: inline-block;
    outline: none;
    cursor: pointer;
    position: relative;
    border:none;
    background: none;
    padding: 5px;
    border-radius: 9px;
    line-height: 27px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    transition: color .2s linear;
  }
  .hand {
    display:inline-block;
    width: 11px;
    height: 11px;
    border-radius: 2px 0 0 0;
    background: var(--icon);
    position: relative;
    margin: 10px 8px 0 0;
    transform-origin: -5px -1px;
    transition: transform .25s, background .2s linear;
    transform: rotate(calc(var(--hand-rotate, 0) * 1deg)) translateZ(0);
    }

  .thumb {
        background: var(--icon);
        width: 10px;
        height: 4px;
        border-radius: 2px;
        transform-origin: 2px 2px;
        position: absolute;
        left: 0;
        top: 0;
        transition: transform .25s, background .2s linear;
        transform: scale(.85) translateY(-.5px) rotate(var(--hand-thumb-1, -45deg)) translateZ(0);
        
    }
    .pops {
      border:none;
      
    }
    .pagebutton {
      color:green;
      display:inline;
    }
    .optionpage {
      display: inline-block;
      margin-right: 20px;
    }

